#instagram-feed-manage span.status {
    width: 14px;
    height: 12px;
    display: inline-block;
    border: 1px solid #cfd9dc
}
#instagram-feed-manage span.status.published {
    background: #09e929
}
#instagram-feed-manage span.status.unpublished {
    background: #f8260a
}
#instagram-feed-manage table th.downloaded,
#instagram-feed-manage table th.created {
    min-width: 115px
}
#instagram-feed-manage table th,
#instagram-feed-manage table td.status,
#instagram-feed-manage table .instagram-item {
    text-align: center
}
#instagram-feed-manage table th.status {
    min-width: 55px;
}
#instagram-feed-manage table td.title {
    max-width: 200px;
}
.instagram-item span.user {
    padding-right: 10px
}